body {
  background-image: url('../img/background.PNG');
  background-size: 90%;
  background-repeat: no-repeat;
}

#midground {
  height: 110%;
  width: 110%;
  position: fixed;
  left: -50px;
  top: -70px;
}

#window {
  height: 110%;
  width: 110%;
  position: fixed;
  left: -50px;
  top: -70px;
}

#blackboard {
  height: 100%;
  width: 110%;
  position: fixed;
  left: -50px;
  top: -40px;
}

#lights {
  height: 100%;
  width: 110%;
  position:fixed;
  left: -50px;
  top: -40px;
}

#table {
  height: 110%;
  width: 110%;
  position:fixed;
  left: -50px;
  top: -85px;
}

#cactus {
  height: 100%;
  width: 80%;
  position:fixed;
  left: 100px;
  top: -20px;
}

#computer {
  height: 100%;
  width: 80%;
  position: fixed;
  left: 200px;
  top: -10px;
}

#lamp {
  height: 100%;
  width: 80%;
  position: fixed;
  left: 200px;
  top: -10px;
}

#hourglass {
  height: 100%;
  width: 80%;
  position: fixed;
  left: 80px;
  top: -20px;
}

button {
  display: inline-block;
  height: 200px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  width: 104px;
}

.btTxt submit:active {
  border: none;
}
