body {
  background-image: url('../img/scenery-options/background.png');
  background-size: 1400px;
  background-repeat: no-repeat;
}

#midground {
  height: auto;
  width: 1785px;
  position: fixed;
  left: -45px;
  top: -145px;
}

#window {
  height: auto;
  width: 472px;
  position: fixed;
  left: 82px;
  top: -62px;
}

#blackboard {
  height: auto;
  width: 745px;
  position: fixed;
  left: 610px;
  top: 90px;
}

#lights {
  height: auto;
  width: 885px;
  position:fixed;
  left: 573px;
  top: 67px;
}

#table {
  height: auto;
  width: 1075px;
  position:fixed;
  left: 247px;
  top: 621px;
}

#cactus {
  height: auto;
  width: 105px;
  position:fixed;
  left: 422px;
  top: 527px;
}

#computer {
  height: auto;
  width: 360px;
  position: fixed;
  left: 701px;
  top: 538px;
}

#lamp {
  height: auto;
  width: 146px;
  position: fixed;
  left: 1019px;
  top: 452px;
}

#hourglass {
  height: auto;
  width: 76px;
  position: fixed;
  left: 342px;
  top: 554px;
}

button {
  display: inline-block;
  height: 200px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  width: 104px;
}

.btTxt submit:active {
  border: none;
}

.imagebutton {
  cursor: pointer;
}

#cat {
  height: auto;
  width: 400px;
  position: fixed;
  top: 480px;
  left: 450px;
}
