body {
  background-image: url('../img/background.PNG');
  background-size: 125%;
  background-repeat: no-repeat;
}

button {
  display: inline-block;
  height: 200px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  width: 104px;
}

#window {
  height: 120%;
  width: 120%;
  position: fixed;
  left: -50px;
  top: -30px;
}

#computer {
  height: 60%;
  width: 50%;
  position: fixed;
  left: 200px;
  top: 100px;
}

#lamp {
  height: 60%;
  width: 50%;
  position: fixed;
  left: 275px;
  top: 100px;
}

#hourglass {
  height: 60%;
  width: 50%;
  position: fixed;
  left: 300px;
  top: 100px;
}

#blackboard {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 20px;
  top: 20px;
}

#midground {
  height: 120%;
  width: 120%;
  position: fixed;
  left: -50px;
  top: -30px;
}
