<script src="js/components/blackboard.js" defer></script>
<div id="black-dropdown">
	<div>
		<input type="image" src="img/clickables/Black_Cat.png" name="black" class="btTxt submit" id="black" />
	</div>

	<div>
		<input type="image" src="img/clickables/OrangeTabby.png" name="orange" class="btTxt submit" id="orange" />
	</div>
	<div>
		<input type="image" src="img/clickables/Siamese.png" name="siamese" class="btTxt submit" id="siamese" />
	</div>
	<div>
		<input type="image" src="img/clickables/SilverTabby.png" name="silver" class="btTxt submit" id="silver" />
	</div>

	<div>
		<input type="image" src="img/clickables/Tuxedo.png" name="tuxedo" class="btTxt submit" id="tuxedo" />
	</div>
</div>
